node_modules/
dist/
IPA_builds/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

package-lock.json
yarn.lock

# macOS
.DS_Store
grip-tracker-mobile/.env.development

grip-tracker-mobile/.env.production

grip-tracker/.env

grip-tracker/.env.development

grip-tracker/.env.production

grip-tracker-mobile/ios/griptrackermobile.xcodeproj/

grip-tracker-mobile/ios/griptrackermobile/

grip-tracker-mobile/ios/

grip-tracker-mobile/.vscode/settings.json
